img {
    height: 20em;
    width: 100%;
}

img.avatar {
    height: 100%;
}


@media screen and (min-device-width: 600px) {
    img {
        height: 25em;
        width: 60%;
    }

    .diy-centered {
        margin: auto;
    }
}